body {
  background: #fefefe;
}

section {
  background: #c0c0c025;
  color: #414141;
}

.header-main {
  background: #f7d438;
}

.header {
  background: #d5edf7;
}

.footer-main {
  background: #f7d438;
}

.heading-first {
  color: red;
}

.heading-second {
  color: #1460aa;
}

.heading-third {
  color: royalblue;
}

a {
  color: navy;
}

nav a {
  color: red;
  font-weight: bold;
}

.social-media-link {
  font-size: large;
}
