body {
  background: #fefefe;
}

section {
  background: #ebebeb;
  color: #414141;
}

a {
  color: navy;
}

.article {
}

.footer-main {
  background: #f7d438;
}

.header {
  background: #d5edf7;
}

.header-main {
  background: #f7d438;
}

.heading-first {
  color: red;
}

.heading-second {
  color: #1460aa;
}
.heading-third {
  color: royalblue;
}

.heading-fourth {
}

.main-section {
}

.navigation-link {
  color: red;
  font-weight: bold;
}
.paragraph {
  color: #020024;
}

.social-media-link {
  font-size: large;
}

.sub-section {
  background: #c0c0c0;
  color: #414141;
}

.unordered-list {
  
}

.unordered-list-element {
  font-style: italic;
}
