body {
    background-color: #d3d3d3;
    color: #1460AA;
}

footer {
    font-size: small;
    font-style: italic;
    color: rgb(83, 50, 7);
}

h1 {
    color: #0c3f72;
}



.article__header {
    background-color: #cacaca;
    padding: 5px;
}

.box_model__img {
    max-width: 300px;
}

.header__img {
    max-height: 50px;
}

.ordered_list {
    background-color: #b2beb5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section__header {
    background-color: #c6c6c6;
    padding: 10px;
}

.specificity__table td {
    padding: 0 5px ;
    text-align: center;
}

.unordered_list {
    background-color: #b2beb5;
    font-style: italic;
}

.unordered_list--nested {
    font-weight: 200;
    font-style: oblique;
}

.text_format {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: red;
    color: white;
    width: 400px;
    height: 100px;
    overflow: clip;
    overflow-clip-margin:  20px;
  }